<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Better Class Calendar</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png')}}">
        {% block head %}{% endblock %}
    </head>

    <body style="background-color: gray;">
        {% block body %}{% endblock %}
        <script src="{{url_for('static', filename='js/scripts.js')}}"></script> 
    </body>
</html>