{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<!-- Nav Buttons -->
<button id="homeBtn">Home</button>
<button id="newClassBtn">New Class</button>
<button id="setNameBtn">Set Your name</button>

<!-- Change your name form -->
<div id="setName" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span> <!-- Close button -->
    <h1>Set Your Name</h1>
    <form action="/setName", method="post">
      <label for="name">What is your name?</label><br>
      <input type="text" name="name"><br>
      <input type="submit" value="Set Name">
    </form>
  </div>
</div>

<!-- Add a new course form -->
<div id="newClass" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span> <!-- Close button -->
    <h1>Add a New Course to the Database</h1>
    <form action="/configure", method="post">
      <label for="title">What is the name of your course?</label><br>
      <input type="text" name="title"><br>
      <label for="link">What is the link to the course (include the https://)?</label><br>
      <input type="text" name="link"><br>
      <label for="day">What day is the course on?</label><br>
      <table>
        <td>
          <label for="sunday">Sunday</label>
          <input type="radio" name="day" id="sunday" value="Sunday" checked>
        </td>
        <td>
          <label for="monday">Monday</label>
          <input type="radio" name="day" id="monday" value="Monday">
        </td>
        <td>
          <label for="tuesday">Tuesday</label>
          <input type="radio" name="day" id="tuesday" value="Tuesday">
        </td>
        <td>
          <label for="wednesday">Wednesday</label>
          <input type="radio" name="day" id="wednesday" value="Wednesday">
        </td>
        <td>
          <label for="thursday">Thursday</label>
          <input type="radio" name="day" id="thursday" value="Thursday">
        </td>
        <td>
          <label for="friday">Friday</label>
          <input type="radio" name="day" id="friday" value="Friday">
        </td>
        <td>
          <label for="saturday">Saturday</label>
          <input type="radio" name="day" id="saturday" value="Saturday">
        </td>
      </table>
      <br>
      <label for="start">What time does the course start (hh:mm AND 24hr time)?</label><br>
      <input type="text" name="start"><br>
      <label for="end">What time does the course end (hh:mm AND 24hr time)?</label><br>
      <input type="text" name="end"><br>
      <input type="submit" value="Create Course">
  </form>
  </div>
</div>

<!-- List off all the classes added-->
<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Day</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
  </tr>
  {% for class in classes %}
  <tr>
    <td>{{class.title}}</td>
    <td> <a href="{{class.link}}" target="_blank">{{class.link}} </a></td>
    <td>{{class.day}}</td>
    <td>{{class.start}}</td>
    <td>{{class.end}}</td>
    <td><a href="/delete/{{class.id}}">Delete</a></td> 
  </tr>
  {% endfor %}
</table>
{% endblock %}